.place__title {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.75rem;
    margin: 0;
    max-width: 460px;
}

@media all and (max-width: 768px) {
    .place__title {
        font-size: 2.625rem;
        line-height: 2.875rem;
        max-width: 340px;
        align-self: flex-end;
    }
}

@media all and (max-width: 460px) {
    .place__title {
        align-self: start;
    }
}

@media all and (max-width: 425px) {
    .place__title {
        align-self: flex-start;
        margin-bottom: 32px;
        font-size: 2rem;
        line-height: 2.1875rem;
    }
}