.places {
    max-width: 984px;
    margin: 0 auto;
    margin-bottom: 92px;
    padding: 0;
}

@media all and (max-width:1024px) {
    .places {
        max-width: 928px;
    }
}

@media all and (max-width:768px) {
    .places {
        max-width: 720px;
        margin-bottom: 90px;
    }
}

@media all and (max-width:320px) {
    .places {
        max-width: 100%;
        margin-bottom: 61px;
    }
}