.place__image {
    max-width: 100%;
    grid-area: image;
}

@media all and (max-width:1024px) {
    .place__image {
        max-width: 440px;
        max-height: 440px;
    }
}

@media all and (max-width:975px) {
    .place__image {
        max-width: 340px;
        max-height: 340px;
    }
}

@media all and (max-width:713px) {
    .place__image {
        margin-bottom: 32px;
    }
}

@media all and (max-width:320px) {
    .place__image {
        max-width: 320px;
        max-height: 320px;
    }
}