@import url("../__lang/_active/header__lang_active.css");
.header__lang {
    color: white;
    font-size: 1.5rem;
    line-height: 1.4375rem;
    text-decoration: none;
    padding-top: 20px;
}

.header__lang:hover {
    opacity: 0.6;
}

@media all and (max-width: 425px) {
    .header__lang {
        font-size: 1.125rem;
        line-height: 96.82%;
    }
}