@import url("./__caption/lead__caption.css");
@import url("./__image/lead__image.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__title/lead__title.css");
.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    margin: auto;
}

@media all and (max-width: 768px) {
    .lead {
        padding: 0;
    }
}