.cover__subtitle {
    max-width: 360px;
    height: 66px;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: normal;
    text-align: center;
    margin: 0;
    z-index: 1;
}

@media screen and (max-width: 567px) {
    .cover__subtitle {
        max-width: 288px;
        height: auto;
        font-size: 0.875rem;
        line-height: 1rem;
    }
}