@import url("./__lang/header__lang.css");
@import url("./__logo/header__logo.css");
@import url("./__lang/_active/header__lang_active.css");
.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 28px;
    margin-bottom: 56px;
    max-width: 1184px;
}

@media all and (max-width: 1024px) {
    .header {
        max-width: 928px;
        min-height: 52px;
        margin-bottom: 48px;
    }
}

@media all and (max-width: 768px) {
    .header {
        max-width: 720px;
    }
}

@media all and (max-width: 730px) {
    .header {
        width: calc(100% - 48px);
    }
}

@media all and (max-width: 425px) {
    .header {
        margin-top: 16px;
        margin-bottom: 48px;
    }
}

@media all and (max-width: 320px) {
    .header {
        min-width: 288px;
        min-height: 42px;
    }
}