.place__paragraphs {
    display: grid;
    grid-row-gap: 1.837em;
    align-content: start;
    max-width: 484px;
}

@media all and (max-width: 425px) {
    .place__paragraphs {
        max-width: 393px;
        margin-top: 24px;
        text-align: start;
        padding: 0;
    }
}