.footer__link {
    font-size: 1.5rem;
    line-height: 2.5625rem;
    color: #ffffff;
    text-decoration: none;
    margin-right: 18px;
}

.footer__link:hover {
    opacity: 0.6;
}

@media all and (max-width: 768px) {
    .footer__link {
        font-size: 1rem;
        line-height: 1.6875rem;
    }
}