.place__paragraph {
    font-size: 1.125rem;
    line-height: 1.63em;
    margin: 0;
}

@media all and (max-width: 768px) {
    .place__paragraph {
        font-size: 1rem;
        max-width: 352px;
    }
}

@media all and (max-width: 425px) {
    .place__paragraph {
        max-width: 393px;
    }
}