.place__paragraph {
    font-size: 1.125rem;
    line-height: 1.833rem;
    margin: 0;
    margin-bottom: 26px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media all and (max-width: 975px) {
    .place__paragraph {
        font-size: 1rem;
    }
}

@media all and (max-width: 713px) {
    .place__paragraph {
        max-width: 100%;
        margin-bottom: 25px;
    }
}

@media all and (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
        margin-bottom: 25px;
    }
}