.footer__copyright {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: right;
    margin: 0;
    min-width: 186px;
    margin-right: 48px;
}

@media all and (max-width: 950px) {
    .footer__copyright {
        margin-top: 0;
    }
}

@media all and (max-width: 425px) {
    .footer__copyright {
        display: flex;
        justify-content: flex-start;
        line-height: 0.875rem;
        margin-top: 16px;
    }
}