.lead__image {
    margin-top: 73px;
    width: 100%;
}

@media all and (max-width: 768px) {
    .lead__image {
        width: 100vw;
    }
}

@media all and (max-width: 425px) {
    .lead__image {
        margin-top: 31px;
    }
}