.intro__text {
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-top: 40px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media all and (max-width: 425px) {
    .intro__text {
        font-size: 0.75rem;
        line-height: 1.1875rem;
    }
}