@import url("./__link/cover__link.css");
@import url("./__subtitle/cover__subtitle.css");
@import url("./__title/cover__title.css");
.cover {
    min-height: 740px;
    margin: 0 0 92px;
    position: relative;
    width: 100%;
    max-width: 1280px;
}

@media screen and (max-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 0 0 88px;
        min-height: 480px;
    }
}

@media screen and (max-width: 567px) {
    .cover {
        margin: 0 0 64px;
        min-height: 200px;
    }
}