.cover__title {
    font-size: 4.5rem;
    line-height: 4.75rem;
    font-weight: 900;
    max-width: 560px;
    text-align: center;
    margin: 0 auto 32px;
    z-index: 1;
}

@media screen and (max-width: 567px) {
    .cover__title {
        font-size: 2rem;
        line-height: 2.187rem;
        max-width: 250px;
        margin: 33px 16px 16px;
    }
}