.page__section {
    padding: 0;
    margin: 0 auto;
}

@media all and (max-width: 1024px) {
    .page__section {
        padding: 0 48px;
    }
}

@media all and (max-width: 768px) {
    .page__section {
        padding: 0 24px;
    }
}

@media all and (max-width: 320px) {
    .page__section {
        max-width: 288px;
        padding: 0 16px;
    }
}