@import url("../footer/__copyright/footer__copyright.css");
@import url("../footer/__link/footer__link.css");
@import url("../footer/__links/footer__links.css");
@import url("../footer/__nav/footer__nav.css");
.footer {
    margin: auto;
    margin-top: 160px;
    position: relative;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
}

@media all and (max-width: 950px) {
    .footer {
        max-width: calc(100% - 46px);
    }
}

@media all and (max-width: 768px) {
    .footer {
        max-width: calc(100% - 46px);
    }
}

@media all and (max-width: 425px) {
    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
        margin-bottom: 24px;
        padding: 8px;
    }
}