.place__website {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    grid-area: url;
}

@media all and (max-width:713px) {
    .place__website {
        display: none;
    }
}